<!-- Main section -->
<section class="hero-section">
    <div class="hero-left">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
            <button class="get-started-btn">Get Started</button>
        </div>
    </div>
    <div class="hero-right">
        <div class="">
            <img class="img"
                src="https://media-api.advertisingvietnam.com/oapi/v1/media?uuid=d8ca1608-76d7-4275-8593-186b51b8bbf5&resolution=1000x&keepOriginal=true"
                alt="img">
        </div>
    </div>
</section>

<!-- course-section -->
<section class="course-section">
    <div class="top">
        <div class="top-left">
            <h2>Popular Courses</h2>
        </div>
        <div class="top-right">
            <a href="">Show All</a>
        </div>
    </div>
    <div class="courses-container">
        <div class="courses-item">
        </div>
        <div class="courses-item">
        </div>
        <div class="courses-item">
        </div>
        <div class="courses-item">
        </div>
        <div class="courses-item">
        </div>

    </div>
</section>

<!-- feature-section -->
<section class="feature-section">
    <div class="feature-right">
        <div class="">
            <img class="img"
                src="https://media-api.advertisingvietnam.com/oapi/v1/media?uuid=d8ca1608-76d7-4275-8593-186b51b8bbf5&resolution=1000x&keepOriginal=true"
                alt="img">
        </div>
    </div>
    <div class="feature-left">
        <div class="content">
            <h2>Key Benefits</h2>
            <div class="feature-item">
                <p>80 Plus Online Courses</p>
            </div>
            <div class="feature-item">
                <p>Weekly Doubt Sessions</p>
            </div>
            <div class="feature-item">
                <p>Live Classes</p>
            </div>
            <div class="feature-item">
                <p>Course Completion Certificates</p>
            </div>
        </div>
    </div>
</section>

<!-- mentor-section -->
<section class="mentor-section">

</section>

<!-- footer-section -->
<section class="footer-section">
    <div class="footer-left">
        <h2>E-Learning</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua</p>
    </div>
    <div class="footer-center">
        <div class="courses">
            <p>Courses</p>
            <li>Course1</li>
            <li>Course1</li>
            <li>Course1</li>
        </div>
        <div class="links">
            <p>Links</p>
            <li>Link1</li>
            <li>Link1</li>
            <li>Link1</li>
        </div>
    </div>
    <div class="footer-right">
        <h2>Get in touch</h2>
        <div class="get-in-touch">
            <input type="text" placeholder="Get in touch">
            <button>send</button>
        </div>
        <div class="social-icons">

        </div>

    </div>
</section>