<div class="nav-bar">
    <div class="nav-left">
        <div class="logo">
            <h1>E-Learning</h1>
        </div>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Learning</a>
            </li>
            <li>
                <a href="">Practice</a>
            </li>
            <li>
                <a href="">Training</a>
            </li>
            <li>
                <a href="">Placements Prep</a>
            </li>
        </ul>
        <button>Login</button>
    </div>
</div>