<div class="nav-bar">
    <div class="nav-left">
        <div class="logo">
            <h1>E-Learning</h1>
        </div>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/Learning">Learning</a>
            </li>
            <li>
                <a routerLink="/Practice">Practice</a>
            </li>
            <li>
                <a routerLink="/Training">Training</a>
            </li>
            <li>
                <a routerLink="/Placements">Placements Prep</a>
            </li>
        </ul>
        <a routerLink="/Login">
            <button>Login</button>
        </a>
    </div>
</div>