<div class="container">
    <div class="container-left">
        <img src="../../../assets/image/hero-img.png" alt="">
    </div>
    <div class="container-right">
        <div class="container-right-top">
            <p>Already have an account ? <a routerLink="/login">Login</a> </p>
        </div>
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
            <div class="form-container">
                <div class="form-item">
                    <input type="text" formControlName="Name" id="" placeholder="Name">
                    <span class="error"
                        *ngIf="userNameValidator && userNameValidator.invalid && userNameValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <input type="email" formControlName="EmailId" id="" placeholder="Email id">
                    <span class="error"
                        *ngIf="userEmailIdValidator && userEmailIdValidator.invalid && userEmailIdValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <input type="date" formControlName="DOB" id="" placeholder="D.O.B">
                    <span class="error"
                        *ngIf="userDOBValidator && userDOBValidator.invalid && userDOBValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <select name="gender" formControlName="Gender" id="">
                        <option value="male">Male</option>
                        <option value="female">Female</option>

                    </select>
                    <span class="error"
                        *ngIf="userGenderValidator && userGenderValidator.invalid && userGenderValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <input type="password" formControlName="Password" id="" placeholder="Password">
                    <span class="error"
                        *ngIf="userPasswordValidator && userPasswordValidator.invalid && userPasswordValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <button [disabled]="registerForm.invalid">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>