<div class="container">
    <div class="dashboard-top flex">
        <div class="top-left">
            <h3>Dashboard </h3>
        </div>
        <div class="top-right">
            <p><span>Faculty</span> Pankaj Pandey</p>
        </div>
    </div>
    <div class="dashboard-bottom flex">
        <div class="left">
            <div class="side-bar">
                <div class="item">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                </div>
                <div class="item">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="item">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div>
                    <span>courses</span>
                </div>
                <div>
                    <button class="create-btn">
                        create
                    </button>
                </div>

            </div>
            <div class="bottom">
                <div class="course-container">
                    <div class="course-item">
                        <button class="continue-btn">continue</button>
                    </div>
                    <div class="course-item">
                        <button class="continue-btn">continue</button>
                    </div>
                    <div class="course-item">
                        <button class="continue-btn">continue</button>
                    </div>
                    <div class="course-item">
                        <button class="continue-btn">continue</button>
                    </div>
                    <div class="course-item">
                        <button class="continue-btn">continue</button>
                    </div>
                    <div class="course-item">
                        <button class="continue-btn">continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>