.container{
    padding-inline: 50px;
    background-color: rgb(244, 244, 244);
    height: 100vh;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    flex: 1;
    max-width: 100px;
}
.side-bar{
    height: 70vh;
    background-color: #4FC198;
    border-radius: 8px;
}

.item{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    cursor: pointer;
}
.item i{
    font-size: 1.5em;
}

.right{
    padding-inline: 1em ;
    flex: 11;
    /* flex-direction: column; */
}