<div class="container">
    <div class="live-class-banner">
        <div class="banner-left">
            <img src="./../../../assets/image/Profile image pankaj.jfif" alt="">
        </div>
        <div class="banner-center">
            <h1>Live</h1>
            <h2>C++</h2>
            <h2>( class 01 ) at 7:00 PM</h2>
        </div>
        <div class="banner-right">
            <button (click)="JoinLiveClass('course')">Join Now</button>
        </div>
    </div>
    <div class="programming-section">
        <div class="top">
            <h3>Programming Languages</h3>
        </div>
        <div class="bottom">
            <div (click)="MoveLeft()">
                <i class="fa-solid fa-caret-left" style="font-size: 30px;color: rgb(255, 187, 40);"></i>
            </div>
            <div class="courses-container">
                <div class="courses-item" *ngFor="let item of programmingLanguageList">
                    <img [src]="item.imgUrl" (click)="course(item)" height="180px" width="180px" alt="">
                </div>
            </div>
            <div (click)="MoveRight()">
                <i class="fa-solid fa-caret-right" style="font-size: 30px;color: rgb(255, 187, 40);"></i>
            </div>
        </div>
    </div>
    <div class="popular-course-section">
        <div class="top">
            <h3>My Courses</h3>
        </div>
        <div class="bottom">
            <div (click)="MoveLeft()">
                <i class="fa-solid fa-caret-left" style="font-size: 30px;color: rgb(255, 187, 40);"></i>
            </div>
            <!-- <app-courses-container></app-courses-container> -->
            <div class="courses-container">
                <div routerLink='/learning/dashboard' class="courses-item" *ngFor="let course of coursesList"
                    [style.background-color]="'black'">
                    <app-progressbar progressBarWidth="170px" progress="70%"></app-progressbar>
                    <h2>{{course.title}}</h2>
                    <button class="continue-btn" (click)="courseDashboard('courseName')">continue</button>
                </div>
            </div>
            <div (click)="MoveRight()">
                <i class="fa-solid fa-caret-right" style="font-size: 30px;color: rgb(255, 187, 40);"></i>
            </div>
        </div>
    </div>
</div>