<div class="container">
    <div class="live-class-banner">
        <div class="banner-left">
            <img src="./../../../assets/image/Profile image pankaj.jfif" alt="">
        </div>
        <div class="banner-center">
            <h1>Live</h1>
            <h2>C++</h2>
            <h2>( class 01 ) at 7:00 PM</h2>
        </div>
        <div class="banner-right">
            <button (click)="JoinLiveClass('course')">Join Now</button>
        </div>
    </div>
    <div class="popular-course-section">
        <div class="top">
            <h3>My Courses</h3>
        </div>
        <div class="bottom">
            <div class="slider-container">
                <div class="slider-main courses-container">
                    <div routerLink='/learning/dashboard' class="courses-item slider-item"
                        *ngFor="let userCourse of usersCourses">
                        <!-- <img [src]="userCourse.course.image[0].Image" alt=""> -->
                        <!-- <app-progressbar style="position: absolute;top:0;" progressBarWidth="170px"
                            progress="70%"></app-progressbar> -->
                        <span>{{userCourse.course.name}}</span>
                        <button class="continue-btn" (click)="courseDashboard(userCourse.course)">continue</button>
                    </div>
                </div>
                <div class="button-area">
                    <i appPrev class="fa fa-chevron-circle-left prev" aria-hidden="true"></i>
                    <i class="fa fa-chevron-circle-right next" aria-hidden="true" appNext></i>
                </div>
            </div>
        </div>
    </div>
    <div class="programming-section">
        <div class="top">
            <h3>Programming Languages</h3>
        </div>
        <div class="bottom">
            <div class="slider-container">
                <div class="slider-main courses-container">
                    <div class="courses-item slider-item" *ngFor="let item of coursesList">
                        <img [src]="item.image[0].Image" (click)="course(item)" alt="">
                    </div>
                </div>
                <div class="button-area">
                    <i appPrev class="fa fa-chevron-circle-left prev" aria-hidden="true"></i>
                    <i class="fa fa-chevron-circle-right next" aria-hidden="true" appNext></i>
                </div>
            </div>
        </div>
    </div>

</div>