<div class="wrapper">
    <div class="w-top">
        <div>
            <span routerLink="/learning" style="color:rgb(0, 139, 69);cursor: pointer;">COURSE </span><span>/
                {{courseName}}</span>
        </div>
        <div class="progress-container">
            <app-progressbar [progress]="course.progress.toString()"></app-progressbar>
            <p>welcome back <span style="color: rgb(255, 183, 0);"> {{Username}}</span></p>
        </div>
    </div>

    <div class="container-main">
        <div class="left">
            <app-video></app-video>
        </div>
        <div class="right">
            <div class="right-bottom">
                <div class="playlist-container">
                    <div *ngFor="let video of coursePlayList;index as i;">
                        <div class="playlist-item" (click)="playNext(video.id)">
                            <div>
                                <input type="checkbox" name="" id="">
                            </div>
                            <p>{{video.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>