.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    height: 100vh;
}
.left{
    flex: 2;
    /* height: 87vh; */
    height: 75vh;
    padding-left: 50PX;
    padding-bottom: 20px;
}
.right{
    flex: 1;
    height: 75vh;
    margin-right: 2em;
    width:30vw;
    /* background-color: gainsboro; */
}

.right-top{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.playlist-container{
    margin-left: 10px;
    padding-inline: 20px;
    background-color: rgb(33, 180, 143);
    border-radius: 10px;
    overflow-y: scroll;
    height: 70vh;
}
.playlist-container input{
    height: 18px;
    width: 18px;
}
.playlist-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(201, 198, 198);
}
.subTopics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid rgb(201, 198, 198);
    transition:1s ease-in;
    cursor: pointer;
}
.subTopics:hover{
    background-color:rgb(255, 169, 49) ;
}
