.wrapper{
    padding-top:7%;
    background-color: rgb(239, 239, 239);
    height: 100vh;
}
.container-main{
    display: flex;
    justify-content: space-between;
}
.w-top{
   display: flex;
   justify-content: space-between;
   padding-left: 50PX;
   padding-right: 50px;
   align-items: center;
   margin-top: -10px;

}
.progress-container{
    display: flex;
    align-items: center;
}
.progress-container p{
    padding-left: 1rem;
}
.left{
    flex: 2;
    /* height: 87vh; */
    height: 75vh;
    padding-left: 50PX;
    padding-bottom: 20px;
}
.right{
    flex: 1;
    height: 75vh;
    margin-right: 2em;
    width:30vw;
    /* background-color: gainsboro; */
}

.w-top span{ 
  font-size: 1rem;
  /* color: rgb(255, 154, 2); */
}

.playlist-container{
    margin-left: 10px;
    padding-inline: 20px;
    background-color: rgb(33, 180, 143);
    border-radius: 10px;
    overflow-y: scroll;
    height: 70vh;
}
.playlist-container input{
    height: 18px;
    width: 18px;
}
.playlist-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    border-bottom: 1px solid rgb(201, 198, 198);
    cursor: pointer;
}
.playlist-item p{
    padding-left: 1rem;
}
.subTopics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid rgb(201, 198, 198);
    transition:1s ease-in;
    cursor: pointer;
}
.subTopics:hover{
    background-color:rgb(255, 169, 49) ;
}
