<div class="container">
    <div class="container-left">
        <img src="../../../assets/image/hero-img.png" alt="">
    </div>
    <div class="container-right">
        <div class="container-right-top">
            <p>Don't have an account ? <a routerLink="/register">register</a> </p>
        </div>
        <h2>Login</h2>
        <div class="form-container">
            <div class="form-item">
                <input type="text" name="" id="" placeholder="Email id">
            </div>
            <div class="form-item">
                <input type="text" name="" id="" placeholder="Password">
            </div>
            <div class="form-item">
                <a routerLink="/forget-password">Forget Password</a>
            </div>
            <div class="form-item">
                <button>submit</button>
            </div>
        </div>
    </div>
</div>