<div class="container">
    <div class="container-left">
        <img src="../../../assets/image/hero-img.png" alt="">
    </div>
    <div class="container-right">
        <div class="container-right-top">
            <p>Don't have an account ? <a routerLink="/register">register</a> </p>
        </div>
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
            <div class="form-container">
                <div class="form-item">
                    <input type="email" formControlName="email" id="" placeholder="Email id">
                    <span class="error"
                        *ngIf="userEmailIdValidator && userEmailIdValidator.invalid && userEmailIdValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <input type="password" formControlName="password" id="" placeholder="Password">
                    <span class="error"
                        *ngIf="userPasswordValidator && userPasswordValidator.invalid && userPasswordValidator.touched">this
                        field is
                        required *</span>
                </div>
                <div class="form-item">
                    <a routerLink="/forgetPassword">Forget Password</a>
                </div>
                <div class="form-item">
                    <button [disabled]="loginForm.invalid">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>