<div class="right">
    <div class="top">
        <div>
            <span>courses</span>
        </div>
        <div>
            <button routerLink="/faculty-dashboard/add-course" class="create-btn">
                create
            </button>
        </div>
    </div>
    <div class="bottom">
        <div class="course-container">
            <div class="course-item" *ngFor="let course of courses">
                <img [src]="course.image![0].Image " alt="">
                <!-- <img src="./../../../../assets//image/C++.png" alt=""> -->
                <i class="fa fa-trash-o delete-icon"
                    (click)="deleteCourseDialog(course.id,course.name,course.image![0].Image)" aria-hidden="true"></i>
                <!-- <p>{{course.name}}</p> -->
                <button class="continue-btn" (click)="goToCourse(course.id)">continue</button>
            </div>
        </div>
    </div>
</div>