<div class="right">
    <div class="top">
        <div>
            <span>courses</span>
        </div>
        <div>
            <button routerLink="/faculty-dashboard/add-course" class="create-btn">
                create
            </button>
        </div>
    </div>
    <div class="bottom">
        <div class="course-container">
            <div class="course-item" *ngFor="let course of courses">
                <!-- <app-progressbar progressBarWidth="20vw" [progress]="course.progress.toString()"></app-progressbar> -->
                <p>{{course.name}}</p>
                <button class="continue-btn">continue</button>
            </div>
        </div>
    </div>
</div>