.courses-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.courses-item{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(33, 180, 143);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 1em;
}
.courses-item:hover{
    transform: scale(1.02);
    transition: ease;
}