<div class="course-container">
  <div class="course-header">
    <span>Course {{ courseDetails?.name }}</span>
    <button
      class="publish-btn"
      *ngIf="!isCoursePublished; else elseBlock"
      (click)="publishCourse(courseDetails?.id!)"
    >
      Publish
    </button>
    <ng-template #elseBlock>
      <button class="publish-btn" style="background-color: #4fc198">
        <i class="fa fa-check-circle" aria-hidden="true"></i> Published
      </button>
    </ng-template>
  </div>
  <form
    [formGroup]="updateCourseForm"
    #form="ngForm"
    (ngSubmit)="updateCourseDetails(form)"
  >
    <div class="course-top">
      <div class="top-left">
        <div class="item">
          <label for="">Name</label>
          <input
            type="text"
            formControlName="name"
            [value]="courseDetails?.name"
            id=""
            placeholder="course name"
            [readonly]="!enableEditing"
          />
        </div>

        <div class="item" *ngIf="!enableEditing; else elseCategory">
          <label for="">Category</label>
          <input
            type="text"
            [value]="courseDetails?.category"
            formControlName="description"
            placeholder="category"
            [readonly]="!enableEditing"
          />
        </div>
        <ng-template #elseCategory>
          <div class="item">
            <label for="">Category</label>
            <select name="category" id="Category" formControlName="category">
              <option value="Programming Language">Programming Language</option>
              <option value="Web Development">Web Development</option>
              <option value="Android Development">Android Development</option>
            </select>
          </div>
        </ng-template>
        <div class="item">
          <label for="">Author</label>
          <input
            type="text"
            [value]="courseDetails?.author"
            formControlName="author"
            placeholder="Author Name"
            id=""
            [readonly]="!enableEditing"
          />
        </div>
        <div class="item">
          <label for="">Description</label>
          <input
            type="text"
            [value]="courseDetails?.description"
            [readonly]="!enableEditing"
            placeholder="description"
          />
        </div>

        <div class="item" *ngIf="!enableEditing; else elseFees">
          <label for="">Fees</label>
          <input
            type="text"
            [value]="courseDetails?.fees"
            [readonly]="!enableEditing"
            placeholder="fees"
          />
        </div>

        <ng-template #elseFees>
          <div class="item">
            <label for="">Fees</label>
            <select name="fees" id="fees" formControlName="fees">
              <option value="Free">Free</option>
              <option value="Paid">Paid</option>
            </select>
          </div>
        </ng-template>
        <div class="item" *ngIf="showUpdateButton">
          <button class="publish-update" type="submit">update</button>
        </div>
      </div>
      <div class="top-right">
        <i class="fa fa-pencil" (click)="editDetails()" aria-hidden="true"></i>
        <div class="image">
          <img [src]="courseDetails?.image[0].Image" alt="img" />
        </div>
      </div>
    </div>
  </form>
  <div class="course-bottom">
    <div class="bottom-top">
      <span>Course Videos</span>
      <i
        class="fa fa-plus"
        aria-hidden="true"
        (click)="openAddVideoDialog()"
      ></i>
    </div>
    <div class="video-container">
      <div class="video-item" *ngFor="let video of videos">
        <!-- <video [src]="video.videoUrl"></video> -->
        <div class="item-top">
          <i
            class="fa fa-trash-o"
            (click)="deleteVideo(video.id, video.videoUrl)"
            aria-hidden="true"
          ></i>
        </div>
        <div class="item-bottom">
          <span>{{ video.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
