.add-course-container{
    padding-left: 10%;
    height: 100vh;
}
.form-container{
    display:flex ;
    align-items: center;
    justify-content:center;
    max-width: 1000px;

}
.form-item{
    /* width: 100%; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
input[type="text"]{
    height: 8vh;
    width: 30vw;
    border-radius: 5px;
    border: none;
}
label{
    font-family: 'Poppins';
    font-size: 0.8rem;
    padding-bottom:10px;
}
select{
    height: 8vh;
    width: 30vw;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    padding-inline: 10px;
}
option{
    font-size: 0.8rem;
}
.img-preview{
    height: 30vh;
    width: 30vw;
    background-color: #4FC198;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-left{
    /* flex: 1; */
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.form-right{
    flex: 1;
    justify-content: flex-start;
}
button{
    padding: 0.8rem 2rem;
    border-radius: 10px;
    background-color:#FFAA05 ;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 30vw;
    margin-top: 1.8rem;
}
