<div class="add-course-container">
    <p>Add Course</p>
    <form [formGroup]="courseForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-container">
            <div class="form-left">
                <div class="form-item">
                    <label for="">Course Name</label>
                    <input formControlName="name" type="text">
                </div>
                <div class="form-item">
                    <label for="">Description</label>
                    <input type="text" formControlName="description">
                </div>
                <div class="form-item">
                    <label for="">Category</label>
                    <select name="category" id="Category" formControlName="category">
                        <option value="Programming Language">Programming Language</option>
                        <option value="Web Development">Web Development</option>
                        <option value="Android Development">Android Development</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Author</label>
                    <input type="text" formControlName="author">
                </div>
                <div class="form-item">
                    <label for="">Fees</label>
                    <select name="fees" id="fees" formControlName="fees">
                        <option value="Free">Free</option>
                        <option value="Paid">Paid</option>
                    </select>
                </div>

                <div class="form-item">
                    <button>next</button>
                </div>

            </div>
            <!-- <div class="form-right">
            </div> -->
        </div>
    </form>
</div>